h1 {
    display: flex;
    justify-content: center;
    font-size: 55px;
}
body {
    background-color: rgb(248, 210, 83);
}

#pogas {
    display: flex;
    justify-content: center;
}

#pievienotPreci {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(218, 157, 44);
}

#nodzestSarakstu {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(218, 157, 44);
}

#saraksts {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 550px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgb(170, 111, 3);
    
}
.prece {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 20px;
    width: 500px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(248, 223, 176);
}

#panelis {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#pievienosanasPanelis {
    position: relative;
    background-color: rgb(248, 223, 176);
    margin: 15% auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    width: 600px;
    height: auto;

}

#iziesanasPoga{
    position: absolute;
    right: 10px;
    top: 10px;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(218, 157, 44);
    border-radius: 10px;
}

#precesNosaukums {
    width: 180px;
    height: 22px;
}

#daudzums {
    width: 70px;
    height: 22px;
}

#pievienotPreciSarakstam {
    width: 100px;
    height: 30px;
    background-color: rgb(218, 157, 44);
}
.dzest {
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-color: rgb(218, 157, 44);
    border-radius: 10px;
}

#precesVards {
    margin: 10px;
}
